
@font-face {
    font-family: 'Brandon';
    src: url('/fonts/brandon/brandon_bld.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Brandon';
    src: url('/fonts/brandon/brandon_blk.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Brandon';
    src: url('/fonts/brandon/brandon_reg.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Brandon';
    src: url('/fonts/brandon/brandon_reg_it.ttf') format('truetype');
    font-weight: 400;
    font-style:italic;
}


@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    src: url('~assets/fonts/rubik/RubikGlitch-Regular.ttf') format('truetype');
}